version: 2.1
  
jobs:
  create_and_deploy_frontend:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: |
          aws cloudformation deploy \
            --template-file bucket.yml \
            --stack-name "stack-${CIRCLE_WORKFLOW_ID:0:7}" \
            --parameter-overrides BUCKETNAME="${CIRCLE_WORKFLOW_ID:0:7}"
      - run: aws s3 sync . s3://"${CIRCLE_WORKFLOW_ID:0:7}" --delete

  get_last_deployment_id:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: |
          export TERM=ansi
          yum -y install tar gzip
          mkdir ~/project/tmp
          aws cloudformation \
          list-exports --query "Exports[?Name==\`PipelineID\`].Value" \
          --no-paginate --output text > ~/project/tmp/pipeline_id.txt
          cat ~/project/tmp/pipeline_id.txt
      - persist_to_workspace:
          root: ~/project/tmp
          paths:
            - pipeline_id.txt

  promote_to_production:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: |
          aws cloudformation deploy \
            --template-file cloudfront.yml \
            --stack-name production-distro \
            --parameter-overrides PipelineID="${CIRCLE_WORKFLOW_ID:0:7}"

  clean_up_old_frontend:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: |
          export TERM=ansi
          yum -y install tar gzip
      - attach_workspace:
          at: ~/project/tmp
      - run: |
          export TERM=ansi
          export PIPELINE_ID=$(cat ~/project/tmp/pipeline_id.txt)
          aws s3 rm "s3://${PIPELINE_ID}" --recursive
          aws cloudformation delete-stack --stack-name "stack-${PIPELINE_ID}" 

workflows:
  default:
    jobs:
      - create_and_deploy_frontend
      - get_last_deployment_id:
          requires:
            - create_and_deploy_frontend
      - promote_to_production:
          requires:
            - get_last_deployment_id
      - clean_up_old_frontend:
          requires:
            - promote_to_production


    
